.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  &_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }
  &_info {
    padding-left: 20px;
  }
  &_button {
    padding: 1px 5px;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 10px;
  }
  &_rating {
    display: flex;
  }
  &_title {
    font-size: 17px;
    font-weight: 800;
  }
}
