.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  &_logo {
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0;
  }
  &_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  &_searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
  }
  &_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  &_nav {
    display: flex;
    justify-content: space-evenly;
  }
  &_option {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
  }
  &_optionLineOne {
    font-size: 10px;
  }
  &_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  &_optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  &_basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
}
