@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import "./style/Header.scss";
@import "./style/Home.scss";
@import "./style/Product.scss";
@import "./style/Checkout.scss";
@import "./style/CheckoutProduct.scss";
@import "./style/Subtotal.scss";
@import "./style/Login.scss";

* {
  margin: 0;
  padding: 0;
}
.app {
  background-color: rgb(234, 237, 237);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
