@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import "./style/Header.scss";
@import "./style/Home.scss";
@import "./style/Product.scss";

* {
  margin: 0;
  padding: 0;
}
.app {
  font-family: "Roboto", sans-serif;
}
